<div class="graphModulair">
    <div class="select-containerModulair">
        <select name="measuresModulair" class="measuresModulair">
            <option value="0">Temperatura</option>
            <option value="1">RH</option>
            <option value="2">PM1</option>
            <option value="3">PM10</option>
            <option value="4">PM25</option>
        </select>
    </div>
    <canvas id="myChart-api-modulair"></canvas>
</div>
<div class="collectionModulair">
        <input type="hidden" class="test" value="{{collection}}">
        <input type="hidden" class="hoursModulairpm" value="{{collection.hours}}">
        <input type="hidden" class="datesModulairpm" value="{{collection.dates}}">
        <input type="hidden" class="temperaturesModulairpm" value="{{collection.temperatures}}">
        <input type="hidden" class="rhModulairpm" value="{{collection.rh}}">
        <input type="hidden" class="pm1Modulairpm" value="{{collection.pm1}}">
        <input type="hidden" class="pm10Modulairpm" value="{{collection.pm10}}">
        <input type="hidden" class="pm25Modulairpm" value="{{collection.pm25}}">
</div>
<script src="/js/apiGraphModulair.js"></script>